flows/Online Scoreboard.json
[
  {
    "id": "2eedd966294071cc",
    "type": "tab",
    "label": "Online Scoreboard",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4643b86af448174a",
    "type": "inject",
    "z": "2eedd966294071cc",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 100,
    "wires": [
      [
        "dd3d5c16f312c621"
      ]
    ]
  },
  {
    "id": "dd3d5c16f312c621",
    "type": "http request",
    "z": "2eedd966294071cc",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://contestonlinescore.com/tools/api/?key=3450792384502938475&contest=CQ-M&call=VE2FK,AB3B,AI6O",
    "tls": "465f5622aae04ed5",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 390,
    "y": 100,
    "wires": [
      [
        "9cf0a4108c9933dd",
        "acfeee3b87307fc0",
        "fbfcea8b946db837"
      ]
    ]
  },
  {
    "id": "9cf0a4108c9933dd",
    "type": "html",
    "z": "2eedd966294071cc",
    "name": "",
    "property": "payload",
    "outproperty": "payload",
    "tag": "tr",
    "ret": "attr",
    "as": "single",
    "x": 930,
    "y": 100,
    "wires": [
      [
        "49adcdb136be0f7d"
      ]
    ]
  },
  {
    "id": "49adcdb136be0f7d",
    "type": "string",
    "z": "2eedd966294071cc",
    "name": "",
    "methods": [
      {
        "name": "collapseWhitespace",
        "params": []
      }
    ],
    "prop": "payload",
    "propout": "payload",
    "object": "msg",
    "objectout": "msg",
    "x": 1090,
    "y": 100,
    "wires": [
      [
        "f14eb5e297ac3a2b"
      ]
    ]
  },
  {
    "id": "acfeee3b87307fc0",
    "type": "html",
    "z": "2eedd966294071cc",
    "name": "",
    "property": "payload",
    "outproperty": "payload",
    "tag": "td",
    "ret": "html",
    "as": "single",
    "x": 930,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "f14eb5e297ac3a2b",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1270,
    "y": 100,
    "wires": []
  },
  {
    "id": "9935c92ef01143cc",
    "type": "comment",
    "z": "2eedd966294071cc",
    "name": "Future Online Scoreboard Integration",
    "info": "",
    "x": 300,
    "y": 40,
    "wires": []
  },
  {
    "id": "24a259a2ccec0aa3",
    "type": "http request",
    "z": "2eedd966294071cc",
    "name": "",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "body",
    "url": "https://contestonlinescore.com/tools/api/?key=3450792384502938475&contest={{topic}}&call={{payload}}",
    "tls": "465f5622aae04ed5",
    "persist": false,
    "proxy": "",
    "authType": "",
    "senderr": false,
    "x": 710,
    "y": 400,
    "wires": [
      [
        "53e82084023a5b13",
        "3d1d79ab408d89ba"
      ]
    ]
  },
  {
    "id": "3237f80fe3881e2f",
    "type": "inject",
    "z": "2eedd966294071cc",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "120",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 400,
    "wires": [
      [
        "fd0abe18c04d6459"
      ]
    ]
  },
  {
    "id": "a17d9f2beaa961f4",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 2,
    "width": 9,
    "height": 2,
    "name": "Contest Call Total Score",
    "label": "<font color=#FFFF00>Total Score",
    "format": "{{payload.score_total}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 140,
    "wires": []
  },
  {
    "id": "a99b6a76ea0f0d6f",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 4,
    "width": 9,
    "height": 2,
    "name": "Contest Call Total Mults",
    "label": "<font color=#FFFF00>Total Mults",
    "format": "{{payload.mult_total}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 220,
    "wires": []
  },
  {
    "id": "2647325738a059d4",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 3,
    "width": 9,
    "height": 2,
    "name": "Contest Call Total QSO's",
    "label": "<font color=#FFFF00>Total Qs",
    "format": "{{payload.qso_total}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 180,
    "wires": []
  },
  {
    "id": "2021dcc0d17213a1",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 6,
    "width": 9,
    "height": 2,
    "name": "Contest Call 80",
    "label": "<font color=#FFFF00>80M Qs/Mults",
    "format": "{{payload.qso_80}} / {{payload.mult_80}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 300,
    "wires": []
  },
  {
    "id": "b21d2d0a99e94c0b",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 7,
    "width": 9,
    "height": 2,
    "name": "Contest Call 40",
    "label": "<font color=#FFFF00>40M Qs/Mults",
    "format": "{{payload.qso_40}} / {{payload.mult_40}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 340,
    "wires": []
  },
  {
    "id": "52a52669869d2ea1",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 9,
    "width": 9,
    "height": 2,
    "name": "Contest Call 20",
    "label": "<font color=#FFFF00>20M Qs/Mults",
    "format": "{{payload.qso_20}} / {{payload.mult_20}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 380,
    "wires": []
  },
  {
    "id": "8feb0f8314d93d97",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 10,
    "width": 9,
    "height": 2,
    "name": "Contest Call 15",
    "label": "<font color=#FFFF00>15M Qs/Mults",
    "format": "{{payload.qso_15}} / {{payload.mult_15}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 420,
    "wires": []
  },
  {
    "id": "436836cb2e6cc8c5",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 11,
    "width": 9,
    "height": 2,
    "name": "Contest Call 10",
    "label": "<font color=#FFFF00>10M Qs/Mults",
    "format": "{{payload.qso_10}} / {{payload.mult_10}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 460,
    "wires": []
  },
  {
    "id": "86b9f34f855395ec",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 12,
    "width": 9,
    "height": 2,
    "name": "Contest Call Last Update",
    "label": "<font color=#FFFF00>Last Update",
    "format": "{{payload.last}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 500,
    "wires": []
  },
  {
    "id": "0d911e7b67da5a5d",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 5,
    "width": 9,
    "height": 2,
    "name": "Contest Call 160",
    "label": "<font color=#FFFF00>160M Qs/Mults",
    "format": "{{payload.qso_160}}/{{payload.mult_160}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 260,
    "wires": []
  },
  {
    "id": "fd0abe18c04d6459",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Prep HTTP GET",
    "func": "let contestname = global.get('contestname');\nlet contestcall = global.get('contestcallsign');\nlet chasecall1 = global.get('chasecall1');\nlet chasecall2 = global.get('chasecall2');\nlet chasecall3 = global.get('chasecall3');\nlet chasecall4 = global.get('chasecall4');\nlet chasecall5 = global.get('chasecall5');\n\nif (contestname == null)\n{\n    return;\n}\n\nif (contestcall == null)\n{\n    return;\n}\n\nif (chasecall1 == null)\n{\n    msg.payload = contestcall\n    msg.topic = contestname;\n    return msg;\n}\n\nif (chasecall2 == null)\n{\n    msg.payload = contestcall+\",\"+chasecall1\n    msg.topic = contestname;\n    return msg;\n}\n\nif (chasecall3 == null)\n{\n    msg.payload = contestcall+\",\"+chasecall1+\",\"+chasecall2\n    msg.topic = contestname;\n    return msg;\n}\n\nif (chasecall4 == null)\n{\n    msg.payload = contestcall+\",\"+chasecall1+\",\"+chasecall2+\",\"+chasecall3\n    msg.topic = contestname;\n    return msg;\n}\n\nif (chasecall5 == null)\n{\n    msg.payload = contestcall+\",\"+chasecall1+\",\"+chasecall2+\",\"+chasecall3+\",\"+chasecall4\n    msg.topic = contestname;\n    return msg;\n}\nelse {\n    \n    msg.payload = contestcall+\",\"+chasecall1+\",\"+chasecall2+\",\"+chasecall3+\",\"+chasecall4+\",\"+chasecall5\n    msg.topic = contestname;\n    return msg;\n}\n\n//msg.payload = contestcall+\",\"+chasecall1+\",\"+chasecall2+\",\"+chasecall3+\",\"+chasecall4+\",\"+chasecall5\n\n//let dummyString=\"890909.00\"\n//msg.payload = msg.payload.replace(/(,+$)/, '')\n//console.log(dummyString)\n\n//msg.topic = contestname;\n\n//return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 400,
    "wires": [
      [
        "99c82b5fb751c6ed"
      ]
    ]
  },
  {
    "id": "1d6262c33a537bdc",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "9a1dd65e19bf97cb",
    "order": 1,
    "width": 9,
    "height": 2,
    "name": "Contest Call",
    "label": "<font color=#FFFF00>Call",
    "format": "{{payload.contestcall}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1690,
    "y": 100,
    "wires": []
  },
  {
    "id": "8f683ff5386e05aa",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Contest Call",
    "func": "let contestcall = global.get('contestcallsign');\n\nif (contestcall == null)\n{\n    return;\n}\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nflow.set('score_total',score_total);\nflow.set('qso_total',qso_total);\nflow.set('mult_total',mult_total);\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\n\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:mult_10,\n    qso_6:qso_6,\n    mult_6:mult_6,\n    last:last\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1370,
    "y": 280,
    "wires": [
      [
        "1d6262c33a537bdc",
        "a17d9f2beaa961f4",
        "2647325738a059d4",
        "a99b6a76ea0f0d6f",
        "0d911e7b67da5a5d",
        "2021dcc0d17213a1",
        "b21d2d0a99e94c0b",
        "52a52669869d2ea1",
        "8feb0f8314d93d97",
        "436836cb2e6cc8c5",
        "86b9f34f855395ec",
        "66cc75cee374cd17",
        "8ea1df71d732a139"
      ]
    ]
  },
  {
    "id": "8aefb11753b2796c",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 2,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 Total Score",
    "label": "<font color=#FFFF00>Total Score",
    "format": "{{payload.score_total}}</font> <font color={{msg.score_diff_color}}>({{payload.score_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 400,
    "wires": []
  },
  {
    "id": "0e31a52b6b89872f",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 4,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 Total Mults",
    "label": "<font color=#FFFF00>Total Mults",
    "format": "{{payload.mult_total}}</font><font color={{msg.mult_diff_color}}>({{payload.mult_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 480,
    "wires": []
  },
  {
    "id": "70e64b9bd15e013c",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 3,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 Total QSO's",
    "label": "<font color=#FFFF00>Total Qs",
    "format": "{{payload.qso_total}}</font><font color={{msg.qso_diff_color}}>({{payload.qso_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 440,
    "wires": []
  },
  {
    "id": "b15ec6c3dfdd07d3",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 6,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 80",
    "label": "<font color=#FFFF00>80M Qs/Mults",
    "format": "{{payload.qso_80}} / {{payload.mult_80}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 560,
    "wires": []
  },
  {
    "id": "572ac78c5ccff55a",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 7,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 40",
    "label": "<font color=#FFFF00>40M Qs/Mults",
    "format": "{{payload.qso_40}} / {{payload.mult_40}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 600,
    "wires": []
  },
  {
    "id": "918a9d1fd39ca92e",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 8,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 20",
    "label": "<font color=#FFFF00>20M Qs/Mults",
    "format": "{{payload.qso_20}} / {{payload.mult_20}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 640,
    "wires": []
  },
  {
    "id": "2c3bff2c367c9aec",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 9,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 15",
    "label": "<font color=#FFFF00>15M Qs/Mults",
    "format": "{{payload.qso_15}} / {{payload.mult_15}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 680,
    "wires": []
  },
  {
    "id": "2f735fa6a5229447",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 10,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 10",
    "label": "<font color=#FFFF00>10M Qs/Mults",
    "format": "{{payload.qso_10}} / {{payload.mult_10}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 720,
    "wires": []
  },
  {
    "id": "b214cb6ec396e43d",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 11,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 Last Update",
    "label": "<font color=#FFFF00>Last Update",
    "format": "{{payload.last}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 760,
    "wires": []
  },
  {
    "id": "6737741cf9f9b1be",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 5,
    "width": 9,
    "height": 2,
    "name": "Contest Call1 160",
    "label": "<font color=#FFFF00>160M Qs/Mults",
    "format": "{{payload.qso_160}}/{{payload.mult_160}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 520,
    "wires": []
  },
  {
    "id": "37e4b21b4e33e0c3",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "02cd9912aaf9c5c2",
    "order": 1,
    "width": 9,
    "height": 2,
    "name": "Contest Call1",
    "label": "<font color=#FFFF00>Call",
    "format": "{{payload.contestcall}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2060,
    "y": 360,
    "wires": []
  },
  {
    "id": "72725fb68585e15d",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Chase Call 1",
    "func": "let contestcall = global.get('chasecall1');\n\nif (contestcall == null)\n{\n    return;\n}\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nlet contestcall_score_total = flow.get('score_total')\nlet score_diff = score_total - contestcall_score_total;\n\nif (score_diff > 0)\n{\n    msg.score_diff_color = \"#00800\"\n}\nif (score_diff < 0)\n{\n    msg.score_diff_color = \"#FF0000\"\n}\n\nlet contestcall_qso_total = flow.get('qso_total');\nlet qso_diff = qso_total - contestcall_qso_total;\n\nif (qso_diff > 0)\n{\n    msg.qso_diff_color = \"#00800\"\n}\nif (qso_diff < 0)\n{\n    msg.qso_diff_color = \"#FF0000\"\n}\n\nlet contestcall_mult_total = flow.get('mult_total');\nlet mult_diff = mult_total - contestcall_mult_total;\n\nif (mult_diff > 0)\n{\n    msg.mult_diff_color = \"#00800\"\n}\nif (mult_diff < 0)\n{\n    msg.mult_diff_color = \"#FF0000\"\n}\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\nscore_diff = Number(score_diff).toLocaleString('US');\nqso_diff = Number(qso_diff).toLocaleString('US');\nmult_diff = Number(mult_diff).toLocaleString('US');\n\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:mult_10,\n    qso_6:qso_6,\n    mult_6:mult_6,\n    last:last,\n    score_diff:score_diff,\n    qso_diff:qso_diff,\n    mult_diff:mult_diff\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1730,
    "y": 560,
    "wires": [
      [
        "37e4b21b4e33e0c3",
        "8aefb11753b2796c",
        "70e64b9bd15e013c",
        "0e31a52b6b89872f",
        "6737741cf9f9b1be",
        "b15ec6c3dfdd07d3",
        "572ac78c5ccff55a",
        "918a9d1fd39ca92e",
        "2c3bff2c367c9aec",
        "2f735fa6a5229447",
        "b214cb6ec396e43d",
        "68a0110ca1c8ef48",
        "6ccb7eca978143c2"
      ]
    ]
  },
  {
    "id": "8c98e4e56fb94301",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 2,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 Total Score",
    "label": "<font color=#FFFF00>Total Score",
    "format": "{{payload.score_total}}</font> <font color={{msg.score_diff_color}}>({{payload.score_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 660,
    "wires": []
  },
  {
    "id": "a4b19e2057f48fb2",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 4,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 Total Mults",
    "label": "<font color=#FFFF00>Total Mults",
    "format": "{{payload.mult_total}}</font><font color={{msg.mult_diff_color}}>({{payload.mult_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 740,
    "wires": []
  },
  {
    "id": "c67b8ec777994e30",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 3,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 Total QSO's",
    "label": "<font color=#FFFF00>Total Qs",
    "format": "{{payload.qso_total}}</font><font color={{msg.qso_diff_color}}>({{payload.qso_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 700,
    "wires": []
  },
  {
    "id": "735de06323bc64bf",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 6,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 80",
    "label": "<font color=#FFFF00>80M Qs/Mults",
    "format": "{{payload.qso_80}} / {{payload.mult_80}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 820,
    "wires": []
  },
  {
    "id": "68ef53277b0a4e6c",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 7,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 40",
    "label": "<font color=#FFFF00>40M Qs/Mults",
    "format": "{{payload.qso_40}} / {{payload.mult_40}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 860,
    "wires": []
  },
  {
    "id": "794d164c816e257f",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 8,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 20",
    "label": "<font color=#FFFF00>20M Qs/Mults",
    "format": "{{payload.qso_20}} / {{payload.mult_20}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 900,
    "wires": []
  },
  {
    "id": "af33a3fdcc4879cd",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 9,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 15",
    "label": "<font color=#FFFF00>15M Qs/Mults",
    "format": "{{payload.qso_15}} / {{payload.mult_15}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 940,
    "wires": []
  },
  {
    "id": "92aed6e70d6e12c7",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 10,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 10",
    "label": "<font color=#FFFF00>10M Qs/Mults",
    "format": "{{payload.qso_10}} / {{payload.mult_10}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 980,
    "wires": []
  },
  {
    "id": "cfac8b3bf0f80aa9",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 11,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 Last Update",
    "label": "<font color=#FFFF00>Last Update",
    "format": "{{payload.last}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1020,
    "wires": []
  },
  {
    "id": "2acd926df2a9f72c",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 5,
    "width": 9,
    "height": 2,
    "name": "Contest Call2 160",
    "label": "<font color=#FFFF00>160M Qs/Mults",
    "format": "{{payload.qso_160}}/{{payload.mult_160}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 780,
    "wires": []
  },
  {
    "id": "e61e30248d8cd054",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "cc8d9c65bb6053c8",
    "order": 1,
    "width": 9,
    "height": 2,
    "name": "Contest Call2",
    "label": "<font color=#FFFF00>Call",
    "format": "{{payload.contestcall}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 620,
    "wires": []
  },
  {
    "id": "c89d9e7c5c6dbd01",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Chase Call 2",
    "func": "let contestcall = global.get('chasecall2');\n\nif (contestcall == null)\n{\n    return;\n}\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nlet contestcall_score_total = flow.get('score_total');\nlet score_diff = score_total - contestcall_score_total;\n\nif (score_diff > 0)\n{\n    msg.score_diff_color = \"#00800\"\n}\nif (score_diff < 0)\n{\n    msg.score_diff_color = \"#FF0000\"\n}\n\nlet contestcall_qso_total = flow.get('qso_total');\nlet qso_diff = qso_total - contestcall_qso_total;\n\nif (qso_diff > 0)\n{\n    msg.qso_diff_color = \"#00800\"\n}\nif (qso_diff < 0)\n{\n    msg.qso_diff_color = \"#FF0000\"\n}\n\nlet contestcall_mult_total = flow.get('mult_total');\nlet mult_diff = mult_total - contestcall_mult_total;\n\nif (mult_diff > 0)\n{\n    msg.mult_diff_color = \"#00800\"\n}\nif (mult_diff < 0)\n{\n    msg.mult_diff_color = \"#FF0000\"\n}\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\nscore_diff = Number(score_diff).toLocaleString('US');\nqso_diff = Number(qso_diff).toLocaleString('US');\nmult_diff = Number(mult_diff).toLocaleString('US');\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:mult_10,\n    qso_6:qso_6,\n    mult_6:mult_6,\n    last:last,\n    score_diff:score_diff,\n    qso_diff:qso_diff,\n    mult_diff:mult_diff\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1390,
    "y": 820,
    "wires": [
      [
        "e61e30248d8cd054",
        "8c98e4e56fb94301",
        "c67b8ec777994e30",
        "a4b19e2057f48fb2",
        "2acd926df2a9f72c",
        "735de06323bc64bf",
        "68ef53277b0a4e6c",
        "794d164c816e257f",
        "af33a3fdcc4879cd",
        "92aed6e70d6e12c7",
        "cfac8b3bf0f80aa9",
        "12fea413fec156be"
      ]
    ]
  },
  {
    "id": "2d8923ad8f605cc6",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 2,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 Total Score",
    "label": "<font color=#FFFF00>Total Score",
    "format": "{{payload.score_total}}</font> <font color={{msg.score_diff_color}}>({{payload.score_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 920,
    "wires": []
  },
  {
    "id": "2c0774791fbd12b2",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 4,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 Total Mults",
    "label": "<font color=#FFFF00>Total Mults",
    "format": "{{payload.mult_total}}</font><font color={{msg.mult_diff_color}}>({{payload.mult_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 1000,
    "wires": []
  },
  {
    "id": "92ac0425e5ecd7d2",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 3,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 Total QSO's",
    "label": "<font color=#FFFF00>Total Qs",
    "format": "{{payload.qso_total}}</font><font color={{msg.qso_diff_color}}>({{payload.qso_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 960,
    "wires": []
  },
  {
    "id": "b8ed0adf9c4d6765",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 6,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 80",
    "label": "<font color=#FFFF00>80M Qs/Mults",
    "format": "{{payload.qso_80}} / {{payload.mult_80}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1080,
    "wires": []
  },
  {
    "id": "47a9dfec8f5a7b83",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 7,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 40",
    "label": "<font color=#FFFF00>40M Qs/Mults",
    "format": "{{payload.qso_40}} / {{payload.mult_40}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1120,
    "wires": []
  },
  {
    "id": "34a1255633719e44",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 8,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 20",
    "label": "<font color=#FFFF00>20M Qs/Mults",
    "format": "{{payload.qso_20}} / {{payload.mult_20}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1160,
    "wires": []
  },
  {
    "id": "e2878814996a0c88",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 9,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 15",
    "label": "<font color=#FFFF00>15M Qs/Mults",
    "format": "{{payload.qso_15}} / {{payload.mult_15}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1200,
    "wires": []
  },
  {
    "id": "97cf056ef6c6af52",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 10,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 10",
    "label": "<font color=#FFFF00>10M Qs/Mults",
    "format": "{{payload.qso_10}} / {{payload.mult_10}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1240,
    "wires": []
  },
  {
    "id": "0ca805fad7686e8b",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 11,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 Last Update",
    "label": "<font color=#FFFF00>Last Update",
    "format": "{{payload.last}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 1280,
    "wires": []
  },
  {
    "id": "b12d11eee38de884",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 5,
    "width": 9,
    "height": 2,
    "name": "Contest Call3 160",
    "label": "<font color=#FFFF00>160M Qs/Mults",
    "format": "{{payload.qso_160}}/{{payload.mult_160}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2070,
    "y": 1040,
    "wires": []
  },
  {
    "id": "0fd8a6e0208f9927",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "eff3603f5f8c17cf",
    "order": 1,
    "width": 9,
    "height": 2,
    "name": "Contest Call3",
    "label": "<font color=#FFFF00>Call",
    "format": "{{payload.contestcall}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2060,
    "y": 880,
    "wires": []
  },
  {
    "id": "b7652b3acedb4176",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Chase Call 3",
    "func": "let contestcall = global.get('chasecall3');\n\nif (contestcall == null)\n{\n    return;\n}\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nlet contestcall_score_total = flow.get('score_total');\nlet score_diff = score_total - contestcall_score_total;\n\nif (score_diff > 0)\n{\n    msg.score_diff_color = \"#00800\"\n}\nif (score_diff < 0)\n{\n    msg.score_diff_color = \"#FF0000\"\n}\n\nlet contestcall_qso_total = flow.get('qso_total');\nlet qso_diff = qso_total - contestcall_qso_total;\n\nif (qso_diff > 0)\n{\n    msg.qso_diff_color = \"#00800\"\n}\nif (qso_diff < 0)\n{\n    msg.qso_diff_color = \"#FF0000\"\n}\n\nlet contestcall_mult_total = flow.get('mult_total');\nlet mult_diff = mult_total - contestcall_mult_total;\n\nif (mult_diff > 0)\n{\n    msg.mult_diff_color = \"#00800\"\n}\nif (mult_diff < 0)\n{\n    msg.mult_diff_color = \"#FF0000\"\n}\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\nscore_diff = Number(score_diff).toLocaleString('US');\nqso_diff = Number(qso_diff).toLocaleString('US');\nmult_diff = Number(mult_diff).toLocaleString('US');\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:mult_10,\n    qso_6:qso_6,\n    mult_6:mult_6,\n    last:last,\n    score_diff:score_diff,\n    qso_diff:qso_diff,\n    mult_diff:mult_diff\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1710,
    "y": 1080,
    "wires": [
      [
        "0fd8a6e0208f9927",
        "2d8923ad8f605cc6",
        "92ac0425e5ecd7d2",
        "2c0774791fbd12b2",
        "b12d11eee38de884",
        "b8ed0adf9c4d6765",
        "47a9dfec8f5a7b83",
        "34a1255633719e44",
        "e2878814996a0c88",
        "97cf056ef6c6af52",
        "0ca805fad7686e8b",
        "f36954fb7c5c492d"
      ]
    ]
  },
  {
    "id": "ad5968515f6b63cb",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 2,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 Total Score",
    "label": "<font color=#FFFF00>Total Score",
    "format": "{{payload.score_total}}</font> <font color={{msg.score_diff_color}}>({{payload.score_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1180,
    "wires": []
  },
  {
    "id": "67910a9971f0bdb8",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 4,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 Total Mults",
    "label": "<font color=#FFFF00>Total Mults",
    "format": "{{payload.mult_total}}</font><font color={{msg.mult_diff_color}}>({{payload.mult_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1260,
    "wires": []
  },
  {
    "id": "b6622194ef7fb89f",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 3,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 Total QSO's",
    "label": "<font color=#FFFF00>Total Qs",
    "format": "{{payload.qso_total}}</font><font color={{msg.qso_diff_color}}>({{payload.qso_diff}})</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1220,
    "wires": []
  },
  {
    "id": "66f58f5d89ca6531",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 6,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 80",
    "label": "<font color=#FFFF00>80M Qs/Mults",
    "format": "{{payload.qso_80}} / {{payload.mult_80}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1340,
    "wires": []
  },
  {
    "id": "e3e7883e4a48b4be",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 7,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 40",
    "label": "<font color=#FFFF00>40M Qs/Mults",
    "format": "{{payload.qso_40}} / {{payload.mult_40}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1380,
    "wires": []
  },
  {
    "id": "de56b0511fa4c50f",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 8,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 20",
    "label": "<font color=#FFFF00>20M Qs/Mults",
    "format": "{{payload.qso_20}} / {{payload.mult_20}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1420,
    "wires": []
  },
  {
    "id": "6434b303e7a6aee4",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 9,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 15",
    "label": "<font color=#FFFF00>15M Qs/Mults",
    "format": "{{payload.qso_15}} / {{payload.mult_15}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1460,
    "wires": []
  },
  {
    "id": "08557f43923d8b8e",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 10,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 10",
    "label": "<font color=#FFFF00>10M Qs/Mults",
    "format": "{{payload.qso_10}} / {{payload.mult_10}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1500,
    "wires": []
  },
  {
    "id": "cdf7fc8e28223fa8",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 11,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 Last Update",
    "label": "<font color=#FFFF00>Last Update",
    "format": "{{payload.last}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1540,
    "wires": []
  },
  {
    "id": "c793f9e35b0c0f42",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 5,
    "width": 9,
    "height": 2,
    "name": "Contest Call4 160",
    "label": "<font color=#FFFF00>160M Qs/Mults",
    "format": "{{payload.qso_160}}/{{payload.mult_160}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1710,
    "y": 1300,
    "wires": []
  },
  {
    "id": "5d539a2da4325684",
    "type": "ui_text",
    "z": "2eedd966294071cc",
    "group": "089bc41bee57baf2",
    "order": 1,
    "width": 9,
    "height": 2,
    "name": "Contest Call4",
    "label": "<font color=#FFFF00>Call",
    "format": "{{payload.contestcall}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1700,
    "y": 1140,
    "wires": []
  },
  {
    "id": "9c40fc709b74e053",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Chase Call 4",
    "func": "let contestcall = global.get('chasecall4');\n\nif (contestcall == null)\n{\n    return;\n}\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nlet contestcall_score_total = flow.get('score_total');\nlet score_diff = score_total - contestcall_score_total;\n\nif (score_diff > 0)\n{\n    msg.score_diff_color = \"#00800\"\n}\nif (score_diff < 0)\n{\n    msg.score_diff_color = \"#FF0000\"\n}\n\nlet contestcall_qso_total = flow.get('qso_total');\nlet qso_diff = qso_total - contestcall_qso_total;\n\nif (qso_diff > 0)\n{\n    msg.qso_diff_color = \"#00800\"\n}\nif (qso_diff < 0)\n{\n    msg.qso_diff_color = \"#FF0000\"\n}\n\nlet contestcall_mult_total = flow.get('mult_total');\nlet mult_diff = mult_total - contestcall_mult_total;\n\nif (mult_diff > 0)\n{\n    msg.mult_diff_color = \"#00800\"\n}\nif (mult_diff < 0)\n{\n    msg.mult_diff_color = \"#FF0000\"\n}\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\nscore_diff = Number(score_diff).toLocaleString('US');\nqso_diff = Number(qso_diff).toLocaleString('US');\nmult_diff = Number(mult_diff).toLocaleString('US');\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:mult_10,\n    qso_6:qso_6,\n    mult_6:mult_6,\n    last:last,\n    score_diff:score_diff,\n    qso_diff:qso_diff,\n    mult_diff:mult_diff\n}\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1410,
    "y": 1360,
    "wires": [
      [
        "5d539a2da4325684",
        "ad5968515f6b63cb",
        "b6622194ef7fb89f",
        "67910a9971f0bdb8",
        "c793f9e35b0c0f42",
        "66f58f5d89ca6531",
        "e3e7883e4a48b4be",
        "de56b0511fa4c50f",
        "6434b303e7a6aee4",
        "08557f43923d8b8e",
        "cdf7fc8e28223fa8",
        "7b71578337dbbc61"
      ]
    ]
  },
  {
    "id": "95abe88dd284810d",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Breakout Scores Chase Call 5",
    "func": "let contestcall = global.get('chasecall5');\n\nif (contestcall == null)\n{\n    return;\n}\n\n\nlet score_total = msg.payload[contestcall].data.score_total;\nlet qso_total = msg.payload[contestcall].data.qso_total;\nlet mult_total = msg.payload[contestcall].data.mult_total;\nlet qso_160 = msg.payload[contestcall].data.qso_160;\nlet mult_160 = msg.payload[contestcall].data.mult_160;\nlet qso_80 = msg.payload[contestcall].data.qso_80;\nlet mult_80 = msg.payload[contestcall].data.mult_80;\nlet qso_40 = msg.payload[contestcall].data.qso_40;\nlet mult_40 = msg.payload[contestcall].data.mult_40;\nlet qso_20 = msg.payload[contestcall].data.qso_20;\nlet mult_20 = msg.payload[contestcall].data.mult_20;\nlet qso_15 = msg.payload[contestcall].data.qso_15;\nlet mult_15 = msg.payload[contestcall].data.mult_15;\nlet qso_10 = msg.payload[contestcall].data.qso_10;\nlet mult_10 = msg.payload[contestcall].data.mult_10;\nlet qso_6 = msg.payload[contestcall].data.qso_6;\nlet mult_6 = msg.payload[contestcall].data.mult_6;\nlet last = msg.payload[contestcall].data.last;\n\nlet contestcall_score_total = flow.get('score_total');\nlet score_diff = score_total - contestcall_score_total;\n\nif (score_diff > 0)\n{\n    msg.score_diff_color = \"#00800\"\n}\nif (score_diff < 0)\n{\n    msg.score_diff_color = \"#FF0000\"\n}\n\nlet contestcall_qso_total = flow.get('qso_total');\nlet qso_diff = qso_total - contestcall_qso_total;\n\nif (qso_diff > 0)\n{\n    msg.qso_diff_color = \"#00800\"\n}\nif (qso_diff < 0)\n{\n    msg.qso_diff_color = \"#FF0000\"\n}\n\nlet contestcall_mult_total = flow.get('mult_total');\nlet mult_diff = mult_total - contestcall_mult_total;\n\nif (mult_diff > 0)\n{\n    msg.mult_diff_color = \"#00800\"\n}\nif (mult_diff < 0)\n{\n    msg.mult_diff_color = \"#FF0000\"\n}\n\nscore_total = Number(score_total).toLocaleString('US');\nqso_total = Number(qso_total).toLocaleString('US');\nmult_total = Number(mult_total).toLocaleString('US');\nscore_diff = Number(score_diff).toLocaleString('US');\nqso_diff = Number(qso_diff).toLocaleString('US');\nmult_diff = Number(mult_diff).toLocaleString('US');\n\nmsg.payload = {\n    contestcall:contestcall,\n    score_total:score_total,\n    qso_total:qso_total,\n    mult_total:mult_total,\n    qso_160:qso_160,\n    mult_160:mult_160,\n    qso_80:qso_80,\n    mult_80:mult_80,\n    qso_40:qso_40,\n    mult_40:mult_40,\n    qso_20:qso_20,\n    mult_20:mult_20,\n    qso_15:qso_15,\n    mult_15:mult_15,\n    qso_10:qso_10,\n    mult_10:qso_10,\n    qso_6:qso_6,\n    mult_6:qso_6,\n    last:last,\n    score_diff:score_diff,\n    qso_diff:qso_diff,\n    mult_diff:mult_diff\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1730,
    "y": 1600,
    "wires": [
      []
    ]
  },
  {
    "id": "99c82b5fb751c6ed",
    "type": "switch",
    "z": "2eedd966294071cc",
    "name": "Contest Defined?",
    "property": "contestname",
    "propertyType": "global",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 510,
    "y": 400,
    "wires": [
      [
        "24a259a2ccec0aa3",
        "bcbcd07949f8db3c"
      ]
    ]
  },
  {
    "id": "bcbcd07949f8db3c",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 360,
    "wires": []
  },
  {
    "id": "53e82084023a5b13",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 870,
    "y": 360,
    "wires": []
  },
  {
    "id": "71401f7d4f43a121",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1050,
    "y": 360,
    "wires": []
  },
  {
    "id": "3d1d79ab408d89ba",
    "type": "function",
    "z": "2eedd966294071cc",
    "name": "Is Error?",
    "func": "if (msg.payload.error == undefined)\n{\n    return msg\n}\nif (msg.payload.error != undefined)\n{\n    msg.payload = \"Contest not supported\";\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 880,
    "y": 400,
    "wires": [
      [
        "71401f7d4f43a121",
        "47c19763c58cc298"
      ]
    ]
  },
  {
    "id": "47c19763c58cc298",
    "type": "switch",
    "z": "2eedd966294071cc",
    "name": "Error?",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "neq",
        "v": "Contest not supported",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Contest not supported",
        "vt": "str"
      },
      {
        "t": "cont",
        "v": "is not active",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 3,
    "x": 1050,
    "y": 420,
    "wires": [
      [
        "8f683ff5386e05aa",
        "d04f1ae2a71ae89d",
        "94781e2098769144"
      ],
      [
        "a473a361ea0204a9",
        "de2f8c99e2657a88"
      ],
      [
        "a473a361ea0204a9"
      ]
    ]
  },
  {
    "id": "d04f1ae2a71ae89d",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1310,
    "y": 240,
    "wires": []
  },
  {
    "id": "94781e2098769144",
    "type": "delay",
    "z": "2eedd966294071cc",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1060,
    "y": 820,
    "wires": [
      [
        "72725fb68585e15d",
        "c89d9e7c5c6dbd01",
        "b7652b3acedb4176",
        "9c40fc709b74e053"
      ]
    ]
  },
  {
    "id": "9ffae1d4a3d00d98",
    "type": "ui_toast",
    "z": "2eedd966294071cc",
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": true,
    "outputs": 1,
    "ok": "OK",
    "cancel": "",
    "raw": false,
    "className": "",
    "topic": "",
    "name": "Online Scoreboard Error",
    "x": 1430,
    "y": 420,
    "wires": [
      []
    ]
  },
  {
    "id": "68a0110ca1c8ef48",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2410,
    "y": 560,
    "wires": []
  },
  {
    "id": "de2f8c99e2657a88",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1250,
    "y": 460,
    "wires": []
  },
  {
    "id": "a473a361ea0204a9",
    "type": "rbe",
    "z": "2eedd966294071cc",
    "name": "RBE",
    "func": "rbe",
    "gap": "",
    "start": "",
    "inout": "out",
    "septopics": true,
    "property": "payload",
    "topi": "topic",
    "x": 1230,
    "y": 420,
    "wires": [
      [
        "9ffae1d4a3d00d98"
      ]
    ]
  },
  {
    "id": "113bf358539c5697",
    "type": "link in",
    "z": "2eedd966294071cc",
    "name": "Online Scoreboard Clear Values IN",
    "links": [
      "2af9add8843cb280"
    ],
    "x": 2015,
    "y": 60,
    "wires": [
      [
        "37e4b21b4e33e0c3",
        "8aefb11753b2796c",
        "70e64b9bd15e013c",
        "0e31a52b6b89872f",
        "6737741cf9f9b1be",
        "b15ec6c3dfdd07d3",
        "572ac78c5ccff55a",
        "918a9d1fd39ca92e",
        "2c3bff2c367c9aec",
        "2f735fa6a5229447",
        "b214cb6ec396e43d",
        "e61e30248d8cd054",
        "8c98e4e56fb94301",
        "c67b8ec777994e30",
        "a4b19e2057f48fb2",
        "2acd926df2a9f72c",
        "735de06323bc64bf",
        "68ef53277b0a4e6c",
        "794d164c816e257f",
        "af33a3fdcc4879cd",
        "92aed6e70d6e12c7",
        "cfac8b3bf0f80aa9",
        "0fd8a6e0208f9927",
        "2d8923ad8f605cc6",
        "92ac0425e5ecd7d2",
        "2c0774791fbd12b2",
        "b12d11eee38de884",
        "b8ed0adf9c4d6765",
        "47a9dfec8f5a7b83",
        "34a1255633719e44",
        "e2878814996a0c88",
        "97cf056ef6c6af52",
        "0ca805fad7686e8b",
        "5d539a2da4325684",
        "ad5968515f6b63cb",
        "b6622194ef7fb89f",
        "67910a9971f0bdb8",
        "c793f9e35b0c0f42",
        "66f58f5d89ca6531",
        "e3e7883e4a48b4be",
        "de56b0511fa4c50f",
        "6434b303e7a6aee4",
        "08557f43923d8b8e",
        "cdf7fc8e28223fa8"
      ]
    ]
  },
  {
    "id": "66cc75cee374cd17",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1690,
    "y": 60,
    "wires": []
  },
  {
    "id": "8ea1df71d732a139",
    "type": "link out",
    "z": "2eedd966294071cc",
    "name": "Contest Call OUT",
    "mode": "link",
    "links": [
      "b96af53874b6fb61"
    ],
    "x": 495,
    "y": 580,
    "wires": []
  },
  {
    "id": "6ccb7eca978143c2",
    "type": "link out",
    "z": "2eedd966294071cc",
    "name": "Chase Call 1 OUT",
    "mode": "link",
    "links": [
      "da1243301037944c"
    ],
    "x": 495,
    "y": 640,
    "wires": []
  },
  {
    "id": "12fea413fec156be",
    "type": "link out",
    "z": "2eedd966294071cc",
    "name": "Chase Call 2 OUT",
    "mode": "link",
    "links": [
      "6f2b2f32fe7c6e4d"
    ],
    "x": 495,
    "y": 700,
    "wires": []
  },
  {
    "id": "f36954fb7c5c492d",
    "type": "link out",
    "z": "2eedd966294071cc",
    "name": "Chase Call 3 OUT",
    "mode": "link",
    "links": [
      "d1d267820faf09ff"
    ],
    "x": 495,
    "y": 760,
    "wires": []
  },
  {
    "id": "7b71578337dbbc61",
    "type": "link out",
    "z": "2eedd966294071cc",
    "name": "Chase Call 4 OUT",
    "mode": "link",
    "links": [
      "b41ce8230b517cb0"
    ],
    "x": 495,
    "y": 820,
    "wires": []
  },
  {
    "id": "4d85eaa61498c5ca",
    "type": "link in",
    "z": "2eedd966294071cc",
    "name": "Scoreboard HTTP Get IN",
    "links": [
      "3047a9ba16e10212"
    ],
    "x": 175,
    "y": 340,
    "wires": [
      [
        "fd0abe18c04d6459"
      ]
    ]
  },
  {
    "id": "89fc9cc83694f2c7",
    "type": "comment",
    "z": "2eedd966294071cc",
    "name": "Link OUT to Toolbar Tab",
    "info": "",
    "x": 280,
    "y": 700,
    "wires": []
  },
  {
    "id": "fbfcea8b946db837",
    "type": "debug",
    "z": "2eedd966294071cc",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 40,
    "wires": []
  }
]