flows/Radio Info.json
[
  {
    "id": "63d876401a56f871",
    "type": "tab",
    "label": "Radio Info",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "4079239a4fd5c11c",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 1 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1420,
    "y": 240,
    "wires": []
  },
  {
    "id": "b884a7032dfb3964",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 2 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1480,
    "y": 600,
    "wires": []
  },
  {
    "id": "af1d06187a9fdccc",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Station Name",
    "property": "payload.RadioInfo.StationName[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "PC1",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC2",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC3",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC4",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC5",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC6",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 320,
    "y": 920,
    "wires": [
      [
        "4079239a4fd5c11c",
        "c670964546ae0b06",
        "346e26f12ecee853",
        "f288bcaa2972bb03",
        "0e6c6e43b62e7cd4",
        "c5877e8dd99b4e62",
        "bcb63133f1d58c2f",
        "1c635cbe611077dd"
      ],
      [
        "b884a7032dfb3964",
        "ced635fe1b59f8b9",
        "ed8a415f892888ab",
        "e3316f6b1b477ad8",
        "5b85beefefc8743d",
        "107fc01ab56227ce",
        "fefc7d4c77dca504",
        "b94e85aead67078d"
      ],
      [
        "01ea1ae7f4c7d3e0",
        "8e9dbc818e805489",
        "0f321a04614fd1f0",
        "5c611b698df88c0a",
        "40650919c30de6aa",
        "da1419617e323075",
        "2f224ab81dfe487b",
        "2e21c54be43d8642"
      ],
      [
        "f77601fcb0194cb6",
        "8d5b605d3691bab1",
        "3dd81a1939d7e117",
        "b33185f49ed983fd",
        "b47f27d2853c2495",
        "caf3f7f76c679440",
        "4ad6652ae6d82b00",
        "f0ae975218d92b4d"
      ],
      [
        "0229e39a3516b865",
        "2db6aa1dabfe4b6f",
        "82423ba25e8da23c",
        "3db30b96c7c9b96f",
        "da729aa0eb935bd7",
        "a1d33b13deb1d304",
        "129cf1c30beedec6",
        "eb3c67348bf70742"
      ],
      [
        "2de257ad131f1ba2",
        "bb43fc100f439185",
        "2c582b73d6085693",
        "249a5330f1dc2ce5",
        "77aaa97d6470ce18",
        "88362d3b27d187ed",
        "e0f342e86e901c86",
        "1e68e3b5b9d1998d"
      ]
    ]
  },
  {
    "id": "c670964546ae0b06",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1400,
    "y": 160,
    "wires": [
      [
        "f5d8df15a55431d6"
      ]
    ]
  },
  {
    "id": "ced635fe1b59f8b9",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1460,
    "y": 480,
    "wires": [
      [
        "985e40725112bcef"
      ]
    ]
  },
  {
    "id": "f5d8df15a55431d6",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 1 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1600,
    "y": 160,
    "wires": []
  },
  {
    "id": "985e40725112bcef",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 2 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1640,
    "y": 480,
    "wires": []
  },
  {
    "id": "346e26f12ecee853",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 1 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1410,
    "y": 280,
    "wires": []
  },
  {
    "id": "f288bcaa2972bb03",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1390,
    "y": 120,
    "wires": [
      [
        "325870de856b6500"
      ]
    ]
  },
  {
    "id": "325870de856b6500",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 1 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1590,
    "y": 120,
    "wires": []
  },
  {
    "id": "ca555698ddde801e",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 2 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1650,
    "y": 520,
    "wires": []
  },
  {
    "id": "ed8a415f892888ab",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 2 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1470,
    "y": 640,
    "wires": []
  },
  {
    "id": "e3316f6b1b477ad8",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1450,
    "y": 520,
    "wires": [
      [
        "ca555698ddde801e"
      ]
    ]
  },
  {
    "id": "592c56e3d1449c3e",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{{payload.RadioInfo.OpCall}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1610,
    "y": 80,
    "wires": [
      [
        "c1c7c6ce1669d97e"
      ]
    ]
  },
  {
    "id": "c1c7c6ce1669d97e",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1820,
    "y": 80,
    "wires": [
      [
        "3073d60f25abe0f4"
      ]
    ]
  },
  {
    "id": "bed5d086957bf3eb",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 1 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font> ",
    "layout": "col-center",
    "className": "",
    "x": 2450,
    "y": 80,
    "wires": []
  },
  {
    "id": "0e6c6e43b62e7cd4",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 1 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1420,
    "y": 360,
    "wires": []
  },
  {
    "id": "5b85beefefc8743d",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 2 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1500,
    "y": 720,
    "wires": []
  },
  {
    "id": "f34266c5636010da",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{payload.RadioInfo.OpCall}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1650,
    "y": 440,
    "wires": [
      [
        "8c2c81d60a6b8c62"
      ]
    ]
  },
  {
    "id": "8c2c81d60a6b8c62",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1860,
    "y": 440,
    "wires": [
      [
        "45ddcbd0d057c0bc"
      ]
    ]
  },
  {
    "id": "2dc74f3b33408b91",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 2 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2430,
    "y": 440,
    "wires": []
  },
  {
    "id": "b2e62889b54520fd",
    "type": "link in",
    "z": "63d876401a56f871",
    "name": "MultiOP Radio Data IN",
    "links": [
      "3e86130caa4f1f80",
      "a96e781180e6e778"
    ],
    "x": 155,
    "y": 920,
    "wires": [
      [
        "af1d06187a9fdccc",
        "bfbc0ca7ae2123b9"
      ]
    ]
  },
  {
    "id": "8e9dbc818e805489",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "FI-Radio 3 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1640,
    "y": 980,
    "wires": []
  },
  {
    "id": "01ea1ae7f4c7d3e0",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1620,
    "y": 860,
    "wires": [
      [
        "9d5c162828e549f9"
      ]
    ]
  },
  {
    "id": "9d5c162828e549f9",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 3 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1800,
    "y": 860,
    "wires": []
  },
  {
    "id": "3fe83fa6f3b05861",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 3 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1790,
    "y": 900,
    "wires": []
  },
  {
    "id": "0f321a04614fd1f0",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "FI-Radio 3 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1630,
    "y": 1020,
    "wires": []
  },
  {
    "id": "5c611b698df88c0a",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1610,
    "y": 900,
    "wires": [
      [
        "3fe83fa6f3b05861"
      ]
    ]
  },
  {
    "id": "40650919c30de6aa",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 3 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1640,
    "y": 1100,
    "wires": []
  },
  {
    "id": "5fcccd4ae3bc0a9e",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{payload.RadioInfo.OpCall}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1810,
    "y": 820,
    "wires": [
      [
        "818dd3c57427ad65"
      ]
    ]
  },
  {
    "id": "818dd3c57427ad65",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2020,
    "y": 820,
    "wires": [
      [
        "95c3475ec0e0b4d9"
      ]
    ]
  },
  {
    "id": "1eb96c8eb7139204",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 3 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2650,
    "y": 820,
    "wires": []
  },
  {
    "id": "8d5b605d3691bab1",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "FI-Radio 4 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1580,
    "y": 1420,
    "wires": []
  },
  {
    "id": "f77601fcb0194cb6",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1560,
    "y": 1300,
    "wires": [
      [
        "aa9e598a2ae0d2d8"
      ]
    ]
  },
  {
    "id": "aa9e598a2ae0d2d8",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 4 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1740,
    "y": 1300,
    "wires": []
  },
  {
    "id": "54253bd63bf7c2e1",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 4 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1730,
    "y": 1340,
    "wires": []
  },
  {
    "id": "3dd81a1939d7e117",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "FI-Radio 4 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1570,
    "y": 1460,
    "wires": []
  },
  {
    "id": "b33185f49ed983fd",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1550,
    "y": 1340,
    "wires": [
      [
        "54253bd63bf7c2e1"
      ]
    ]
  },
  {
    "id": "b47f27d2853c2495",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 4 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1580,
    "y": 1540,
    "wires": []
  },
  {
    "id": "13ab6d0278bf0dd0",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{payload.RadioInfo.OpCall}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1750,
    "y": 1260,
    "wires": [
      [
        "323857831b25bb1f"
      ]
    ]
  },
  {
    "id": "323857831b25bb1f",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1960,
    "y": 1260,
    "wires": [
      [
        "24c3fc53c5522a8d"
      ]
    ]
  },
  {
    "id": "809b555216468185",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 4 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2550,
    "y": 1260,
    "wires": []
  },
  {
    "id": "985d6537f85a2ef7",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 1 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2540,
    "y": 320,
    "wires": []
  },
  {
    "id": "70f732a486ad8790",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 2 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2620,
    "y": 680,
    "wires": []
  },
  {
    "id": "83c7360db95301bd",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 3 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2800,
    "y": 1060,
    "wires": []
  },
  {
    "id": "292594747be8586c",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 4 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2740,
    "y": 1500,
    "wires": []
  },
  {
    "id": "8541ddb83dc8400c",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1750,
    "y": 320,
    "wires": [
      [
        "93e43ec2aaf5aeeb"
      ]
    ]
  },
  {
    "id": "bfbc0ca7ae2123b9",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 340,
    "y": 760,
    "wires": []
  },
  {
    "id": "ac94b710db387a71",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1570,
    "y": 320,
    "wires": [
      [
        "8541ddb83dc8400c"
      ]
    ]
  },
  {
    "id": "c5877e8dd99b4e62",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1400,
    "y": 320,
    "wires": [
      [
        "ac94b710db387a71"
      ]
    ]
  },
  {
    "id": "da1419617e323075",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1620,
    "y": 820,
    "wires": [
      [
        "5fcccd4ae3bc0a9e"
      ]
    ]
  },
  {
    "id": "107fc01ab56227ce",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1460,
    "y": 440,
    "wires": [
      [
        "f34266c5636010da"
      ]
    ]
  },
  {
    "id": "caf3f7f76c679440",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1560,
    "y": 1260,
    "wires": [
      [
        "13ab6d0278bf0dd0"
      ]
    ]
  },
  {
    "id": "93e43ec2aaf5aeeb",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1960,
    "y": 320,
    "wires": [
      [
        "a267e8d599520171"
      ]
    ]
  },
  {
    "id": "da098de78cddcd77",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2040,
    "y": 680,
    "wires": [
      [
        "2d9c8ae4d8a9a8fe"
      ]
    ]
  },
  {
    "id": "fefc7d4c77dca504",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1460,
    "y": 680,
    "wires": [
      [
        "8216d4fbaa22b00d"
      ]
    ]
  },
  {
    "id": "4eddc435ac1bbabc",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1990,
    "y": 1060,
    "wires": [
      [
        "f5536ff24e5d840d"
      ]
    ]
  },
  {
    "id": "e1bb32b03d603194",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1790,
    "y": 1060,
    "wires": [
      [
        "4eddc435ac1bbabc"
      ]
    ]
  },
  {
    "id": "2f224ab81dfe487b",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1620,
    "y": 1060,
    "wires": [
      [
        "e1bb32b03d603194"
      ]
    ]
  },
  {
    "id": "f5536ff24e5d840d",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2200,
    "y": 1060,
    "wires": [
      [
        "335050ee7717c221"
      ]
    ]
  },
  {
    "id": "1766f475dc8f0329",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1910,
    "y": 1500,
    "wires": [
      [
        "16e3e78fd25d511f"
      ]
    ]
  },
  {
    "id": "3b53505c9402ca85",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1730,
    "y": 1500,
    "wires": [
      [
        "1766f475dc8f0329"
      ]
    ]
  },
  {
    "id": "4ad6652ae6d82b00",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1560,
    "y": 1500,
    "wires": [
      [
        "3b53505c9402ca85"
      ]
    ]
  },
  {
    "id": "16e3e78fd25d511f",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2120,
    "y": 1500,
    "wires": [
      [
        "e52eef0c05f525e1"
      ]
    ]
  },
  {
    "id": "8216d4fbaa22b00d",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1630,
    "y": 680,
    "wires": [
      [
        "1f2de03473408175"
      ]
    ]
  },
  {
    "id": "1f2de03473408175",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1830,
    "y": 680,
    "wires": [
      [
        "da098de78cddcd77"
      ]
    ]
  },
  {
    "id": "d3b4c0b3270ffdec",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2340,
    "wires": [
      [
        "8a2ae0e35a8c3ff2"
      ]
    ]
  },
  {
    "id": "81123d6b96a6ef38",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2340,
    "wires": [
      [
        "6630836634a13106"
      ]
    ]
  },
  {
    "id": "9a8e2c5137b90d56",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "160M 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 6,
    "width": 8,
    "height": 4,
    "label": "160M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2340,
    "wires": [
      []
    ]
  },
  {
    "id": "b1da1813e519e35f",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='1.8' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2340,
    "wires": [
      [
        "81123d6b96a6ef38"
      ]
    ]
  },
  {
    "id": "b26c01a4f990c0f5",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2440,
    "wires": [
      [
        "cfe9e7bc0adade1c"
      ]
    ]
  },
  {
    "id": "86cefd21d998385b",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2440,
    "wires": [
      [
        "210f9d51c8d2795d"
      ]
    ]
  },
  {
    "id": "860347c9c2b71ca9",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "80M 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "80M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2440,
    "wires": [
      []
    ]
  },
  {
    "id": "57124254e0e48fc3",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='3.5' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2440,
    "wires": [
      [
        "86cefd21d998385b"
      ]
    ]
  },
  {
    "id": "d9adb9ae4acfcc7b",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2540,
    "wires": [
      [
        "ff2443172eb67c83"
      ]
    ]
  },
  {
    "id": "dd9ea1b6f40e8268",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2540,
    "wires": [
      [
        "233ea8591881382c"
      ]
    ]
  },
  {
    "id": "6e1e4011a6488a4d",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "40M 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 2,
    "width": 8,
    "height": 4,
    "label": "40M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2540,
    "wires": [
      []
    ]
  },
  {
    "id": "e7590197f987677e",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='7' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2540,
    "wires": [
      [
        "dd9ea1b6f40e8268"
      ]
    ]
  },
  {
    "id": "190c4529196b91ba",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2640,
    "wires": [
      [
        "60d60b5aa2d5ff34"
      ]
    ]
  },
  {
    "id": "4d2c1411f283cdb8",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2640,
    "wires": [
      [
        "ec47a9770d288aab"
      ]
    ]
  },
  {
    "id": "e80b43b63f70e382",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "20 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 3,
    "width": 8,
    "height": 4,
    "label": "20M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1260,
    "y": 2640,
    "wires": [
      []
    ]
  },
  {
    "id": "1ad81b42664427b5",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='14' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2640,
    "wires": [
      [
        "4d2c1411f283cdb8"
      ]
    ]
  },
  {
    "id": "f373478e37ae779c",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2740,
    "wires": [
      [
        "2cd4f55d1521634b"
      ]
    ]
  },
  {
    "id": "36dc8bbf88a91657",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2740,
    "wires": [
      [
        "46e5dd6677cd93d2"
      ]
    ]
  },
  {
    "id": "b9d8aeeff603a454",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "15M 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 4,
    "width": 8,
    "height": 4,
    "label": "15M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2740,
    "wires": [
      []
    ]
  },
  {
    "id": "0e3b542c3dcb10a5",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='21' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2740,
    "wires": [
      [
        "36dc8bbf88a91657"
      ]
    ]
  },
  {
    "id": "773670bb93bce148",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 170,
    "y": 2840,
    "wires": [
      [
        "d34b4e21fc2c70c4"
      ]
    ]
  },
  {
    "id": "780777a148f0b63b",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 800,
    "y": 2840,
    "wires": [
      [
        "0cca615d5ae1c7cf"
      ]
    ]
  },
  {
    "id": "bf2b708ac470da89",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "10M 1Hr Rate Radio Tab",
    "group": "e0604be1629095c1",
    "order": 5,
    "width": 8,
    "height": 4,
    "label": "10M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2840,
    "wires": [
      []
    ]
  },
  {
    "id": "d54bb51d6f9fb2dd",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='28' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 570,
    "y": 2840,
    "wires": [
      [
        "780777a148f0b63b"
      ]
    ]
  },
  {
    "id": "8a2ae0e35a8c3ff2",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2340,
    "wires": [
      [
        "b1da1813e519e35f"
      ]
    ]
  },
  {
    "id": "cfe9e7bc0adade1c",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2440,
    "wires": [
      [
        "57124254e0e48fc3"
      ]
    ]
  },
  {
    "id": "ff2443172eb67c83",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2540,
    "wires": [
      [
        "e7590197f987677e"
      ]
    ]
  },
  {
    "id": "60d60b5aa2d5ff34",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2640,
    "wires": [
      [
        "1ad81b42664427b5"
      ]
    ]
  },
  {
    "id": "2cd4f55d1521634b",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2740,
    "wires": [
      [
        "0e3b542c3dcb10a5"
      ]
    ]
  },
  {
    "id": "d34b4e21fc2c70c4",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 2840,
    "wires": [
      [
        "d54bb51d6f9fb2dd"
      ]
    ]
  },
  {
    "id": "233ea8591881382c",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "40M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2540,
    "wires": [
      [
        "6e1e4011a6488a4d",
        "3a85d5ef956cd29a"
      ]
    ]
  },
  {
    "id": "6630836634a13106",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "160M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2340,
    "wires": [
      [
        "9a8e2c5137b90d56",
        "c6b469a4fcb7b114"
      ]
    ]
  },
  {
    "id": "210f9d51c8d2795d",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "80M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2440,
    "wires": [
      [
        "860347c9c2b71ca9",
        "b1f76bb717d01b22"
      ]
    ]
  },
  {
    "id": "ec47a9770d288aab",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "20M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2640,
    "wires": [
      [
        "e80b43b63f70e382",
        "93f3edb5369e869f"
      ]
    ]
  },
  {
    "id": "46e5dd6677cd93d2",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "15M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2740,
    "wires": [
      [
        "b9d8aeeff603a454",
        "69528648e7f7d786"
      ]
    ]
  },
  {
    "id": "0cca615d5ae1c7cf",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "10M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 2840,
    "wires": [
      [
        "bf2b708ac470da89",
        "75b3d2e5c1595813"
      ]
    ]
  },
  {
    "id": "7dbbcb9c3c99ac92",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2540,
    "wires": [
      [
        "eda46bd7250928f7"
      ]
    ]
  },
  {
    "id": "98f225527fbd572e",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2540,
    "wires": [
      [
        "522755dda15201db"
      ]
    ]
  },
  {
    "id": "2e09df86d8b33f09",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "160M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 6,
    "width": 8,
    "height": 4,
    "label": "160M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2540,
    "wires": [
      []
    ]
  },
  {
    "id": "b39feb6cc0a095b0",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='1.8' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2540,
    "wires": [
      [
        "98f225527fbd572e"
      ]
    ]
  },
  {
    "id": "7839fb64054f2b05",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2600,
    "wires": [
      [
        "21813a5f29caad54"
      ]
    ]
  },
  {
    "id": "af2304ecec0d0d85",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2600,
    "wires": [
      [
        "19d4ddb851663143"
      ]
    ]
  },
  {
    "id": "4a9253a93f90996c",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "80M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "80M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2600,
    "wires": [
      []
    ]
  },
  {
    "id": "e55576cd42fbf910",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='3.5' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2600,
    "wires": [
      [
        "af2304ecec0d0d85"
      ]
    ]
  },
  {
    "id": "6202022c82b2cae6",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2660,
    "wires": [
      [
        "aaa21b5237154e2e"
      ]
    ]
  },
  {
    "id": "604be9302a9ccc35",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2660,
    "wires": [
      [
        "4dda7522f84c1b68"
      ]
    ]
  },
  {
    "id": "0e8f6a490816d7c6",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "40M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 2,
    "width": 8,
    "height": 4,
    "label": "40M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2660,
    "wires": [
      []
    ]
  },
  {
    "id": "bedacc80df855e6c",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='7' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2660,
    "wires": [
      [
        "604be9302a9ccc35"
      ]
    ]
  },
  {
    "id": "d25a8f0a77cd61b2",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2720,
    "wires": [
      [
        "b76271aca60e8e79"
      ]
    ]
  },
  {
    "id": "82c8815c3f570c8b",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2720,
    "wires": [
      [
        "36ff32309b9d731d"
      ]
    ]
  },
  {
    "id": "625721c6cc9a41a1",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "20M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 3,
    "width": 8,
    "height": 4,
    "label": "20M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2720,
    "wires": [
      []
    ]
  },
  {
    "id": "3f31584d202f9a2a",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='14' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2720,
    "wires": [
      [
        "82c8815c3f570c8b"
      ]
    ]
  },
  {
    "id": "f4236722967d5256",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2780,
    "wires": [
      [
        "3a23aef662e53a4e"
      ]
    ]
  },
  {
    "id": "8ff495cd540531a5",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2780,
    "wires": [
      [
        "32a82ddbf9a2ece0"
      ]
    ]
  },
  {
    "id": "e16c68643b17ae53",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "15M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 4,
    "width": 8,
    "height": 4,
    "label": "15M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2780,
    "wires": [
      []
    ]
  },
  {
    "id": "3fd855c51ac25c6b",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='21' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2780,
    "wires": [
      [
        "8ff495cd540531a5"
      ]
    ]
  },
  {
    "id": "3f23396a59e236d6",
    "type": "inject",
    "z": "63d876401a56f871",
    "name": "1 Per Min",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 1510,
    "y": 2840,
    "wires": [
      [
        "b36670717398e42e"
      ]
    ]
  },
  {
    "id": "b0a55b5c21c3e636",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 2080,
    "y": 2840,
    "wires": [
      [
        "b55a9ad7c644b681"
      ]
    ]
  },
  {
    "id": "70fb0729b94f7b46",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "10M 2Hr Rate Radio Tab",
    "group": "5b0b0f97dd6d2e04",
    "order": 5,
    "width": 8,
    "height": 4,
    "label": "10M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": "2",
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 2570,
    "y": 2840,
    "wires": [
      []
    ]
  },
  {
    "id": "e1b2f702a7a8209d",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='28' and timestamp >= datetime('now','-2 hours');",
    "output": "str",
    "x": 1890,
    "y": 2840,
    "wires": [
      [
        "b0a55b5c21c3e636"
      ]
    ]
  },
  {
    "id": "eda46bd7250928f7",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2540,
    "wires": [
      [
        "b39feb6cc0a095b0"
      ]
    ]
  },
  {
    "id": "21813a5f29caad54",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2600,
    "wires": [
      [
        "e55576cd42fbf910"
      ]
    ]
  },
  {
    "id": "aaa21b5237154e2e",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2660,
    "wires": [
      [
        "bedacc80df855e6c"
      ]
    ]
  },
  {
    "id": "b76271aca60e8e79",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2720,
    "wires": [
      [
        "3f31584d202f9a2a"
      ]
    ]
  },
  {
    "id": "3a23aef662e53a4e",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2780,
    "wires": [
      [
        "3fd855c51ac25c6b"
      ]
    ]
  },
  {
    "id": "b36670717398e42e",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30s Random Delay",
    "pauseType": "random",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "30",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1690,
    "y": 2840,
    "wires": [
      [
        "e1b2f702a7a8209d"
      ]
    ]
  },
  {
    "id": "4dda7522f84c1b68",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "40M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2660,
    "wires": [
      [
        "0e8f6a490816d7c6"
      ]
    ]
  },
  {
    "id": "522755dda15201db",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "160M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2540,
    "wires": [
      [
        "2e09df86d8b33f09"
      ]
    ]
  },
  {
    "id": "19d4ddb851663143",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "80M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2600,
    "wires": [
      [
        "4a9253a93f90996c"
      ]
    ]
  },
  {
    "id": "36ff32309b9d731d",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "20M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2720,
    "wires": [
      [
        "625721c6cc9a41a1"
      ]
    ]
  },
  {
    "id": "32a82ddbf9a2ece0",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "15M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2780,
    "wires": [
      [
        "e16c68643b17ae53"
      ]
    ]
  },
  {
    "id": "b55a9ad7c644b681",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "Set Payload & Topic",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "10M",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2320,
    "y": 2840,
    "wires": [
      [
        "70fb0729b94f7b46"
      ]
    ]
  },
  {
    "id": "f1653511b5226382",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "env": [],
    "x": 2220,
    "y": 80,
    "wires": [
      [
        "bed5d086957bf3eb"
      ],
      [
        "bed5d086957bf3eb"
      ],
      [
        "bed5d086957bf3eb"
      ]
    ]
  },
  {
    "id": "07548290eb81947d",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2300,
    "y": 320,
    "wires": [
      [
        "985d6537f85a2ef7"
      ],
      [
        "985d6537f85a2ef7"
      ],
      [
        "985d6537f85a2ef7"
      ]
    ]
  },
  {
    "id": "38f4bb7e8a2e1f98",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2210,
    "y": 440,
    "wires": [
      [
        "2dc74f3b33408b91"
      ],
      [
        "2dc74f3b33408b91"
      ],
      [
        "2dc74f3b33408b91"
      ]
    ]
  },
  {
    "id": "e434651ab5732032",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2390,
    "y": 680,
    "wires": [
      [
        "70f732a486ad8790"
      ],
      [
        "70f732a486ad8790"
      ],
      [
        "70f732a486ad8790"
      ]
    ]
  },
  {
    "id": "53e851dc3fd7578e",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2430,
    "y": 820,
    "wires": [
      [
        "1eb96c8eb7139204"
      ],
      [
        "1eb96c8eb7139204"
      ],
      [
        "1eb96c8eb7139204"
      ]
    ]
  },
  {
    "id": "bb4ab426266cfcd3",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2570,
    "y": 1060,
    "wires": [
      [
        "83c7360db95301bd"
      ],
      [
        "83c7360db95301bd"
      ],
      [
        "83c7360db95301bd"
      ]
    ]
  },
  {
    "id": "36789dd53b75fc71",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2330,
    "y": 1260,
    "wires": [
      [
        "809b555216468185"
      ],
      [
        "809b555216468185"
      ],
      [
        "809b555216468185"
      ]
    ]
  },
  {
    "id": "30ae3bb1975bbdd9",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2500,
    "y": 1500,
    "wires": [
      [
        "292594747be8586c"
      ],
      [
        "292594747be8586c"
      ],
      [
        "292594747be8586c"
      ]
    ]
  },
  {
    "id": "b1f76bb717d01b22",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "80M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 1,
    "width": 8,
    "height": 4,
    "label": "80M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2480,
    "wires": [
      []
    ]
  },
  {
    "id": "3a85d5ef956cd29a",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "40M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 2,
    "width": 8,
    "height": 4,
    "label": "40M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2580,
    "wires": [
      []
    ]
  },
  {
    "id": "93f3edb5369e869f",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "20M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 3,
    "width": 8,
    "height": 4,
    "label": "20M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2680,
    "wires": [
      []
    ]
  },
  {
    "id": "69528648e7f7d786",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "15M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 4,
    "width": 8,
    "height": 4,
    "label": "15M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2780,
    "wires": [
      []
    ]
  },
  {
    "id": "75b3d2e5c1595813",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "10M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 5,
    "width": 8,
    "height": 4,
    "label": "10M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2880,
    "wires": [
      []
    ]
  },
  {
    "id": "bcb63133f1d58c2f",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1400,
    "y": 80,
    "wires": [
      [
        "592c56e3d1449c3e"
      ]
    ]
  },
  {
    "id": "3073d60f25abe0f4",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2010,
    "y": 80,
    "wires": [
      [
        "f1653511b5226382"
      ]
    ]
  },
  {
    "id": "a267e8d599520171",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2130,
    "y": 320,
    "wires": [
      [
        "07548290eb81947d"
      ]
    ]
  },
  {
    "id": "45ddcbd0d057c0bc",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2030,
    "y": 440,
    "wires": [
      [
        "38f4bb7e8a2e1f98"
      ]
    ]
  },
  {
    "id": "2d9c8ae4d8a9a8fe",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 680,
    "wires": [
      [
        "e434651ab5732032"
      ]
    ]
  },
  {
    "id": "95c3475ec0e0b4d9",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2210,
    "y": 820,
    "wires": [
      [
        "53e851dc3fd7578e"
      ]
    ]
  },
  {
    "id": "335050ee7717c221",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2370,
    "y": 1060,
    "wires": [
      [
        "bb4ab426266cfcd3"
      ]
    ]
  },
  {
    "id": "24c3fc53c5522a8d",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2130,
    "y": 1260,
    "wires": [
      [
        "36789dd53b75fc71"
      ]
    ]
  },
  {
    "id": "e52eef0c05f525e1",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2310,
    "y": 1500,
    "wires": [
      [
        "30ae3bb1975bbdd9"
      ]
    ]
  },
  {
    "id": "359cdb13c6617344",
    "type": "link in",
    "z": "63d876401a56f871",
    "name": "Radio Info Band QSO Rates IN",
    "links": [
      "5e1859619292b1b8"
    ],
    "x": 975,
    "y": 3000,
    "wires": [
      [
        "860347c9c2b71ca9",
        "b1f76bb717d01b22",
        "6e1e4011a6488a4d",
        "3a85d5ef956cd29a",
        "e80b43b63f70e382",
        "93f3edb5369e869f",
        "b9d8aeeff603a454",
        "69528648e7f7d786",
        "bf2b708ac470da89",
        "75b3d2e5c1595813",
        "4a9253a93f90996c",
        "0e8f6a490816d7c6",
        "625721c6cc9a41a1",
        "e16c68643b17ae53",
        "70fb0729b94f7b46"
      ]
    ]
  },
  {
    "id": "c6b469a4fcb7b114",
    "type": "ui_chart",
    "z": "63d876401a56f871",
    "name": "160M 1Hr Rate Band Tab",
    "group": "29db383704af4b09",
    "order": 6,
    "width": 8,
    "height": 4,
    "label": "160M",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": true,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 1270,
    "y": 2380,
    "wires": [
      []
    ]
  },
  {
    "id": "3db30b96c7c9b96f",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "FI-Radio 5 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1440,
    "y": 1760,
    "wires": []
  },
  {
    "id": "2db6aa1dabfe4b6f",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1420,
    "y": 1640,
    "wires": [
      [
        "964c3ff51c44f4ab"
      ]
    ]
  },
  {
    "id": "964c3ff51c44f4ab",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 5 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1600,
    "y": 1640,
    "wires": []
  },
  {
    "id": "fdccf090130e942d",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 5 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1590,
    "y": 1680,
    "wires": []
  },
  {
    "id": "da729aa0eb935bd7",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "FI-Radio 5 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1430,
    "y": 1800,
    "wires": []
  },
  {
    "id": "82423ba25e8da23c",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1410,
    "y": 1680,
    "wires": [
      [
        "fdccf090130e942d"
      ]
    ]
  },
  {
    "id": "129cf1c30beedec6",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 4 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1440,
    "y": 1880,
    "wires": []
  },
  {
    "id": "58fcbde5cf1aab5e",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{payload.RadioInfo.OpCall}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1610,
    "y": 1600,
    "wires": [
      [
        "5ff7b1c82e4bc5cb"
      ]
    ]
  },
  {
    "id": "5ff7b1c82e4bc5cb",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1820,
    "y": 1600,
    "wires": [
      [
        "0c53f4520bda7edc"
      ]
    ]
  },
  {
    "id": "1b42710e26a66d3b",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 5 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2430,
    "y": 1600,
    "wires": []
  },
  {
    "id": "ab222f8f3c53cd87",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 5 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2600,
    "y": 1840,
    "wires": []
  },
  {
    "id": "0229e39a3516b865",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1420,
    "y": 1600,
    "wires": [
      [
        "58fcbde5cf1aab5e"
      ]
    ]
  },
  {
    "id": "ade26f65a6b17c32",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1770,
    "y": 1840,
    "wires": [
      [
        "417ce821ddfa4209"
      ]
    ]
  },
  {
    "id": "8b567c0e329781f6",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1590,
    "y": 1840,
    "wires": [
      [
        "ade26f65a6b17c32"
      ]
    ]
  },
  {
    "id": "a1d33b13deb1d304",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1420,
    "y": 1840,
    "wires": [
      [
        "8b567c0e329781f6"
      ]
    ]
  },
  {
    "id": "417ce821ddfa4209",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1980,
    "y": 1840,
    "wires": [
      [
        "1e942633d1b0330e"
      ]
    ]
  },
  {
    "id": "8d7cccfe69747f95",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2190,
    "y": 1600,
    "wires": [
      [
        "1b42710e26a66d3b"
      ],
      [
        "1b42710e26a66d3b"
      ],
      [
        "1b42710e26a66d3b"
      ]
    ]
  },
  {
    "id": "96579eec393ac3b1",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2360,
    "y": 1840,
    "wires": [
      [
        "ab222f8f3c53cd87"
      ],
      [
        "ab222f8f3c53cd87"
      ],
      [
        "ab222f8f3c53cd87"
      ]
    ]
  },
  {
    "id": "0c53f4520bda7edc",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1990,
    "y": 1600,
    "wires": [
      [
        "8d7cccfe69747f95"
      ]
    ]
  },
  {
    "id": "1e942633d1b0330e",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2170,
    "y": 1840,
    "wires": [
      [
        "96579eec393ac3b1"
      ]
    ]
  },
  {
    "id": "249a5330f1dc2ce5",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 1,
    "width": 5,
    "height": 2,
    "name": "FI-Radio 6 Operator",
    "label": "Operator",
    "format": "<font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1380,
    "y": 2140,
    "wires": []
  },
  {
    "id": "bb43fc100f439185",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1360,
    "y": 2020,
    "wires": [
      [
        "957bfb8d414c8b24"
      ]
    ]
  },
  {
    "id": "957bfb8d414c8b24",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 3,
    "width": 5,
    "height": 2,
    "name": "RI-Radio 6 Freq",
    "label": "Freq",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1540,
    "y": 2020,
    "wires": []
  },
  {
    "id": "c59936dc6e1f8112",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 4,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 6 Status",
    "label": "Status",
    "format": "<font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1530,
    "y": 2060,
    "wires": []
  },
  {
    "id": "77aaa97d6470ce18",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 2,
    "width": 4,
    "height": 2,
    "name": "FI-Radio 6 Mode",
    "label": "Mode",
    "format": "<font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1370,
    "y": 2180,
    "wires": []
  },
  {
    "id": "2c582b73d6085693",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1350,
    "y": 2060,
    "wires": [
      [
        "c59936dc6e1f8112"
      ]
    ]
  },
  {
    "id": "e0f342e86e901c86",
    "type": "debug",
    "z": "63d876401a56f871",
    "name": "After Radio 4 Switch",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1380,
    "y": 2260,
    "wires": []
  },
  {
    "id": "246e1e4f4f15c5c8",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(operator) as rate from qsos where operator='{{payload.RadioInfo.OpCall}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1550,
    "y": 1980,
    "wires": [
      [
        "73e9a7a1e26c8a8c"
      ]
    ]
  },
  {
    "id": "73e9a7a1e26c8a8c",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1760,
    "y": 1980,
    "wires": [
      [
        "8c845733e92e41e2"
      ]
    ]
  },
  {
    "id": "a6a37936dda0f8f9",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 6,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 6 OP QSO Rate",
    "label": "OP Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2350,
    "y": 1980,
    "wires": []
  },
  {
    "id": "bca717449dc24f29",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 7,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 6 Band QSO Rate",
    "label": "Band Rate Qs/Hr",
    "format": "<font color={{msg.color}}>{{msg.rate}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2540,
    "y": 2220,
    "wires": []
  },
  {
    "id": "2de257ad131f1ba2",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1360,
    "y": 1980,
    "wires": [
      [
        "246e1e4f4f15c5c8"
      ]
    ]
  },
  {
    "id": "81455cb1501f64a3",
    "type": "template",
    "z": "63d876401a56f871",
    "name": "SQL Select Rate",
    "field": "topic",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "select count(band) as rate from qsos where band='{{{payload}}}' and timestamp >= datetime('now','-1 hours');",
    "output": "str",
    "x": 1710,
    "y": 2220,
    "wires": [
      [
        "7cb7f5f8c30ea2e6"
      ]
    ]
  },
  {
    "id": "697da13221904ea1",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Band Parse",
    "func": "let freq = msg.payload.RadioInfo.TXFreq[0]\nlet band = null\n\nif ((freq >= 180000) & (freq <= 200000))\n{\n    band = '1.8'\n}\nif ((freq >= 350000) & (freq <= 400000))\n{\n    band = '3.5'\n}\nif ((freq >= 700000) & (freq <= 730000))\n{\n    band = '7'\n}\nif ((freq >= 1400000) & (freq <= 1435000))\n{\n    band = '14'\n}\nif ((freq >= 2100000) & (freq <= 2145000))\n{\n    band = '21'\n}\nif ((freq >= 2800000) & (freq <= 2970000))\n{\n    band = '28'\n}\n\nmsg.payload = band;\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1530,
    "y": 2220,
    "wires": [
      [
        "81455cb1501f64a3"
      ]
    ]
  },
  {
    "id": "88362d3b27d187ed",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "30S Drop Limit",
    "pauseType": "rate",
    "timeout": "30",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "30",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": true,
    "allowrate": false,
    "outputs": 1,
    "x": 1360,
    "y": 2220,
    "wires": [
      [
        "697da13221904ea1"
      ]
    ]
  },
  {
    "id": "7cb7f5f8c30ea2e6",
    "type": "sqlite",
    "z": "63d876401a56f871",
    "mydb": "54f43a06.56d7b4",
    "sqlquery": "msg.topic",
    "sql": "",
    "name": "QSO Database",
    "x": 1920,
    "y": 2220,
    "wires": [
      [
        "14ddf66a8c208255"
      ]
    ]
  },
  {
    "id": "df9e803aec029d4b",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2130,
    "y": 1980,
    "wires": [
      [
        "a6a37936dda0f8f9"
      ],
      [
        "a6a37936dda0f8f9"
      ],
      [
        "a6a37936dda0f8f9"
      ]
    ]
  },
  {
    "id": "f693140c1a3123b2",
    "type": "subflow:c967abe5be484ee6",
    "z": "63d876401a56f871",
    "name": "",
    "x": 2300,
    "y": 2220,
    "wires": [
      [
        "bca717449dc24f29"
      ],
      [
        "bca717449dc24f29"
      ],
      [
        "bca717449dc24f29"
      ]
    ]
  },
  {
    "id": "8c845733e92e41e2",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1930,
    "y": 1980,
    "wires": [
      [
        "df9e803aec029d4b"
      ]
    ]
  },
  {
    "id": "14ddf66a8c208255",
    "type": "change",
    "z": "63d876401a56f871",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "rate",
        "pt": "msg",
        "to": "payload[0].rate",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 2110,
    "y": 2220,
    "wires": [
      [
        "f693140c1a3123b2"
      ]
    ]
  },
  {
    "id": "aac72059b39fda59",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "7fbb5e1689b11c96",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 1 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1930,
    "y": 200,
    "wires": []
  },
  {
    "id": "1c635cbe611077dd",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1430,
    "y": 200,
    "wires": [
      [
        "dcdc849990516e2e"
      ],
      [
        "f21dbda3d927e010"
      ]
    ]
  },
  {
    "id": "f21dbda3d927e010",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1660,
    "y": 240,
    "wires": [
      [
        "aac72059b39fda59"
      ]
    ]
  },
  {
    "id": "b94e85aead67078d",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1490,
    "y": 560,
    "wires": [
      [
        "19cc17829f39bb30"
      ],
      [
        "0776fad3976446cc"
      ]
    ]
  },
  {
    "id": "0776fad3976446cc",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1700,
    "y": 600,
    "wires": [
      [
        "c6a8bdfd74f42360"
      ]
    ]
  },
  {
    "id": "c6a8bdfd74f42360",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "04f517e9db4307d1",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 2 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1950,
    "y": 560,
    "wires": []
  },
  {
    "id": "2e21c54be43d8642",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1650,
    "y": 940,
    "wires": [
      [
        "6483782b864f4f74"
      ],
      [
        "b7eca8f0f7525764"
      ]
    ]
  },
  {
    "id": "b7eca8f0f7525764",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1860,
    "y": 980,
    "wires": [
      [
        "97288b468af67be3"
      ]
    ]
  },
  {
    "id": "97288b468af67be3",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "9851a548b3e9a744",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 3 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2130,
    "y": 940,
    "wires": []
  },
  {
    "id": "f0ae975218d92b4d",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1590,
    "y": 1380,
    "wires": [
      [
        "198db40134ed3647"
      ],
      [
        "23fdaa804a699aaf"
      ]
    ]
  },
  {
    "id": "23fdaa804a699aaf",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1800,
    "y": 1420,
    "wires": [
      [
        "8309afcde2fb9bb5"
      ]
    ]
  },
  {
    "id": "8309afcde2fb9bb5",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "57f3a809cabd43f5",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 4 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 2090,
    "y": 1380,
    "wires": []
  },
  {
    "id": "eb3c67348bf70742",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1450,
    "y": 1720,
    "wires": [
      [
        "85dca11dd759282b"
      ],
      [
        "fac7550c65740d73"
      ]
    ]
  },
  {
    "id": "fac7550c65740d73",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1680,
    "y": 1760,
    "wires": [
      [
        "916f7d1f9ec12898"
      ]
    ]
  },
  {
    "id": "916f7d1f9ec12898",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "f5dde741553ee9e7",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 5 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1930,
    "y": 1720,
    "wires": []
  },
  {
    "id": "1e68e3b5b9d1998d",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Function Key Is Empty?",
    "property": "payload.RadioInfo.FunctionKeyCaption[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nempty"
      },
      {
        "t": "empty"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1390,
    "y": 2100,
    "wires": [
      [
        "dfaf09dbf9ef0968"
      ],
      [
        "4ffd230de6920581"
      ]
    ]
  },
  {
    "id": "4ffd230de6920581",
    "type": "delay",
    "z": "63d876401a56f871",
    "name": "",
    "pauseType": "delay",
    "timeout": "4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "3",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1620,
    "y": 2140,
    "wires": [
      [
        "fe3958c79b77d7e9"
      ]
    ]
  },
  {
    "id": "fe3958c79b77d7e9",
    "type": "ui_text",
    "z": "63d876401a56f871",
    "group": "5ccfd9f2fc20c888",
    "order": 5,
    "width": 4,
    "height": 2,
    "name": "RI-Radio 6 Macro",
    "label": "Macro",
    "format": "<font size=6 font color={{msg.color}}>{{msg.payload.RadioInfo.FunctionKeyCaption[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1870,
    "y": 2100,
    "wires": []
  },
  {
    "id": "dcdc849990516e2e",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1660,
    "y": 200,
    "wires": [
      [
        "aac72059b39fda59"
      ]
    ]
  },
  {
    "id": "19cc17829f39bb30",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1720,
    "y": 560,
    "wires": [
      [
        "c6a8bdfd74f42360"
      ]
    ]
  },
  {
    "id": "6483782b864f4f74",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1880,
    "y": 940,
    "wires": [
      [
        "97288b468af67be3"
      ]
    ]
  },
  {
    "id": "198db40134ed3647",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1820,
    "y": 1380,
    "wires": [
      [
        "8309afcde2fb9bb5"
      ]
    ]
  },
  {
    "id": "85dca11dd759282b",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1700,
    "y": 1720,
    "wires": [
      [
        "916f7d1f9ec12898"
      ]
    ]
  },
  {
    "id": "dfaf09dbf9ef0968",
    "type": "function",
    "z": "63d876401a56f871",
    "name": "Color Change",
    "func": "if (msg.payload.RadioInfo.IsRunning[0] == \"True\")\n{\n    msg.color = \"#008000\"\n}\n\nif (msg.payload.RadioInfo.IsRunning[0] == \"False\")\n{\n    msg.color = \"#FF0000\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1640,
    "y": 2100,
    "wires": [
      [
        "fe3958c79b77d7e9"
      ]
    ]
  },
  {
    "id": "facc381ab8ee58c9",
    "type": "link in",
    "z": "63d876401a56f871",
    "name": "S02R Radio Info IN",
    "links": [
      "15fa6dac50ec3359",
      "94303f00b0074ac4"
    ],
    "x": 285,
    "y": 200,
    "wires": [
      [
        "c732b3d8a89b845a"
      ]
    ]
  },
  {
    "id": "c732b3d8a89b845a",
    "type": "switch",
    "z": "63d876401a56f871",
    "name": "Radio 1 or 2?",
    "property": "payload.RadioInfo.RadioNr[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 460,
    "y": 200,
    "wires": [
      [
        "bcb63133f1d58c2f",
        "f288bcaa2972bb03",
        "c670964546ae0b06",
        "1c635cbe611077dd",
        "4079239a4fd5c11c",
        "346e26f12ecee853",
        "c5877e8dd99b4e62",
        "0e6c6e43b62e7cd4"
      ],
      [
        "107fc01ab56227ce",
        "ced635fe1b59f8b9",
        "e3316f6b1b477ad8",
        "b94e85aead67078d",
        "b884a7032dfb3964",
        "ed8a415f892888ab",
        "fefc7d4c77dca504",
        "5b85beefefc8743d"
      ]
    ]
  },
  {
    "id": "135240e2fc51ef8d",
    "type": "comment",
    "z": "63d876401a56f871",
    "name": "SO2R Configuration",
    "info": "",
    "x": 420,
    "y": 140,
    "wires": []
  }
]