flows/WAC Logger.json
[
  {
    "id": "1acc5730a82cbfc7",
    "type": "tab",
    "label": "WAC Logger",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "386ebcadf0c976ae",
    "type": "ui_spacer",
    "z": "1acc5730a82cbfc7",
    "name": "spacer",
    "group": "9189f146c1798eef",
    "order": 5,
    "width": 3,
    "height": 1
  },
  {
    "id": "75a98d2fc7441f20",
    "type": "ui_spacer",
    "z": "1acc5730a82cbfc7",
    "name": "spacer",
    "group": "9189f146c1798eef",
    "order": 6,
    "width": 3,
    "height": 1
  },
  {
    "id": "5d48b991eb1eaaf5",
    "type": "ui_spacer",
    "z": "1acc5730a82cbfc7",
    "name": "spacer",
    "group": "9acb32ddd0144d0f",
    "order": 5,
    "width": 3,
    "height": 1
  },
  {
    "id": "675380346d3c6481",
    "type": "ui_spacer",
    "z": "1acc5730a82cbfc7",
    "name": "spacer",
    "group": "9acb32ddd0144d0f",
    "order": 6,
    "width": 3,
    "height": 1
  },
  {
    "id": "5e4d47c711482436",
    "type": "debug",
    "z": "1acc5730a82cbfc7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 100,
    "wires": []
  },
  {
    "id": "021703c7316a1e27",
    "type": "ui_form",
    "z": "1acc5730a82cbfc7",
    "name": "Log Window Radio 1",
    "label": "",
    "group": "81e8affa751a7503",
    "order": 3,
    "width": "18",
    "height": "5",
    "options": [
      {
        "label": "Call",
        "value": "call",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Exchange",
        "value": "exchange",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Comment",
        "value": "comment",
        "type": "text",
        "required": false,
        "rows": null
      }
    ],
    "formValue": {
      "call": "",
      "exchange": "",
      "comment": ""
    },
    "payload": "",
    "submit": "submit",
    "cancel": "clear",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": false,
    "className": "",
    "x": 280,
    "y": 100,
    "wires": [
      [
        "808f2658365d7b53"
      ]
    ]
  },
  {
    "id": "808f2658365d7b53",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "To Upper Case",
    "func": "if (msg.payload.op != null)\n{\n    msg.payload.op = msg.payload.op.toUpperCase();\n}\n\nif (msg.payload.call != null)\n{\n    msg.payload.call = msg.payload.call.toUpperCase();\n}\n\nif (msg.payload.exchange != null)\n{\n    msg.payload.exchange = msg.payload.exchange.toUpperCase();\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 100,
    "wires": [
      [
        "5e4d47c711482436"
      ]
    ]
  },
  {
    "id": "0d4939fd1b443df7",
    "type": "ui_worldmap",
    "z": "1acc5730a82cbfc7",
    "group": "ccc9bbbb7e8b28a7",
    "order": 1,
    "width": 18,
    "height": 12,
    "name": "Worked QSOs Map Radio 1",
    "lat": "40.3426",
    "lon": "-92.8554",
    "zoom": "4",
    "layer": "OSMG",
    "cluster": "",
    "maxage": "",
    "usermenu": "show",
    "layers": "show",
    "panit": "false",
    "panlock": "false",
    "zoomlock": "false",
    "hiderightclick": "true",
    "coords": "none",
    "showgrid": "false",
    "allowFileDrop": "false",
    "path": "/radio_1_qsos",
    "overlist": "DR,CO,RA,DN,HM",
    "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,SW",
    "mapname": "",
    "mapurl": "",
    "mapopt": "",
    "mapwms": false,
    "x": 900,
    "y": 380,
    "wires": []
  },
  {
    "id": "835468c5369f80a6",
    "type": "ui_table",
    "z": "1acc5730a82cbfc7",
    "group": "cb8b64280b7ce16e",
    "name": "",
    "order": 1,
    "width": 36,
    "height": 15,
    "columns": [
      {
        "field": "date",
        "title": "Date",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "time",
        "title": "Z Time",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "op",
        "title": "Operator",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "call",
        "title": "Logged QSO",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "exchange",
        "title": "Exchange",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "contest",
        "title": "Contest",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 1220,
    "y": 300,
    "wires": []
  },
  {
    "id": "06abd170778921c0",
    "type": "ui_worldmap",
    "z": "1acc5730a82cbfc7",
    "group": "e0bfac7798af6224",
    "order": 1,
    "width": 18,
    "height": 12,
    "name": "Worked QSOs Map Radio 2",
    "lat": "40.3426",
    "lon": "-92.8554",
    "zoom": "4",
    "layer": "OSMG",
    "cluster": "",
    "maxage": "",
    "usermenu": "show",
    "layers": "show",
    "panit": "false",
    "panlock": "false",
    "zoomlock": "false",
    "hiderightclick": "true",
    "coords": "none",
    "showgrid": "false",
    "allowFileDrop": "false",
    "path": "/radio_2_qsos",
    "overlist": "DR,CO,RA,DN,HM",
    "maplist": "OSMG,OSMC,OSMH,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop,SW",
    "mapname": "",
    "mapurl": "",
    "mapopt": "",
    "mapwms": false,
    "x": 900,
    "y": 480,
    "wires": []
  },
  {
    "id": "dcc66a0ffc77f407",
    "type": "inject",
    "z": "1acc5730a82cbfc7",
    "name": "Inject Home Icon",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 850,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "8b0b0d14d9dda579",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "Inject Home",
    "func": "let lat = global.get('homelat');\nlet lon = global.get('homelon');\n\nreturn {payload : {name:\"home\", lat:lat, lon:lon, icon:\"fa-home\", layer:\"Home\"}};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 550,
    "y": 440,
    "wires": [
      [
        "0d4939fd1b443df7",
        "06abd170778921c0"
      ]
    ]
  },
  {
    "id": "ef4061add664155b",
    "type": "inject",
    "z": "1acc5730a82cbfc7",
    "name": "Inject Legend",
    "props": [
      {
        "p": "payload.command",
        "v": "{ \"legend\": \"<b>Band Pin Color</b></br> <i style=\\\"background: #00FF00\\\"></i> 2M<br> <i style=\\\"background: #FFFFFF\\\"></i> 6M<br> <i style=\\\"background: #FF8C00\\\"></i> 10M<br> <i style=\\\"background: #FFFF00\\\"></i> 15M<br> <i style=\\\"background: #FF0000\\\"></i> 20M<br> <i style=\\\"background: #0000FF\\\"></i> 40M<br> <i style=\\\"background: #008000\\\"></i> 80M<br> <i style=\\\"background: #800080\\\"></i> 160M<br> <i style=\\\"background: #000000\\\"></i> Else<br> \" }",
        "vt": "json"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "x": 560,
    "y": 480,
    "wires": [
      [
        "0d4939fd1b443df7",
        "06abd170778921c0"
      ]
    ]
  },
  {
    "id": "f3117ed04c2dd2ff",
    "type": "link in",
    "z": "1acc5730a82cbfc7",
    "name": "",
    "links": [
      "4320ff577c7cb858"
    ],
    "x": 435,
    "y": 320,
    "wires": [
      [
        "f2c3d24d797e17f4"
      ]
    ]
  },
  {
    "id": "f2c3d24d797e17f4",
    "type": "switch",
    "z": "1acc5730a82cbfc7",
    "name": "Station Name",
    "property": "payload.contactinfo.StationName[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "PC1",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC2",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 600,
    "y": 340,
    "wires": [
      [
        "0d4939fd1b443df7"
      ],
      [
        "06abd170778921c0"
      ]
    ]
  },
  {
    "id": "bf0a5331052b7fab",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9acb32ddd0144d0f",
    "order": 1,
    "width": 4,
    "height": 2,
    "name": "Radio 2 Operator WAC",
    "label": "<font size = 5>Operator",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1460,
    "y": 900,
    "wires": []
  },
  {
    "id": "2dce50188ca09ef4",
    "type": "switch",
    "z": "1acc5730a82cbfc7",
    "name": "Station Name",
    "property": "payload.RadioInfo.StationName[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "PC1",
        "vt": "global"
      },
      {
        "t": "eq",
        "v": "PC2",
        "vt": "global"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 880,
    "y": 820,
    "wires": [
      [
        "86950fd353197ba7",
        "c96642834818d2a9",
        "1f81f53556dacaa7",
        "0cd3112afd5d6d5e"
      ],
      [
        "bf0a5331052b7fab",
        "7dd0c082685c4b0d",
        "8292be93f0d40e09",
        "a1c2798293e18138"
      ]
    ]
  },
  {
    "id": "86950fd353197ba7",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1440,
    "y": 820,
    "wires": [
      [
        "0fc4c3d34a12f7a1"
      ]
    ]
  },
  {
    "id": "7dd0c082685c4b0d",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "Get Spot Freq",
    "func": "let x = msg.payload.RadioInfo.TXFreq[0];\nlet len = x.length;\n\n\nif (len == 7)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,5);\n    let last = runfreq.substr(5,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n\n}\nif (len == 6)\n{\n    let runfreq = msg.payload.RadioInfo.TXFreq[0];\n\n    let first = runfreq.substr(0,4);\n    let last = runfreq.substr(4,1);\n    let freq = first+'.'+last;\n\nlet spot = {payload: freq};\nreturn spot; \n   \n}\nelse\n{\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1440,
    "y": 860,
    "wires": [
      [
        "b7e4e85982983c1d"
      ]
    ]
  },
  {
    "id": "b7e4e85982983c1d",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9acb32ddd0144d0f",
    "order": 2,
    "width": 5,
    "height": 2,
    "name": "Radio 2 Freq",
    "label": "<font size = 5>Freq",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1630,
    "y": 860,
    "wires": []
  },
  {
    "id": "c96642834818d2a9",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 700,
    "wires": [
      [
        "2d3aa2841dfaac62"
      ]
    ]
  },
  {
    "id": "633014cf1bf22985",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9acb32ddd0144d0f",
    "order": 4,
    "width": 3,
    "height": 2,
    "name": "Radio 2 Status WAC",
    "label": "<font size = 5>Status",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1460,
    "y": 980,
    "wires": []
  },
  {
    "id": "8292be93f0d40e09",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9acb32ddd0144d0f",
    "order": 3,
    "width": 3,
    "height": 2,
    "name": "Radio 2 Mode WAC",
    "label": "<font size = 5>Mode",
    "format": "<font size = 40 font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1450,
    "y": 940,
    "wires": []
  },
  {
    "id": "a1c2798293e18138",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "Get Status",
    "func": "let x = msg.payload.RadioInfo.IsRunning[0];\n\nif (x == \"True\")\n{\n    let status = \"Run\";\n\nlet msg = {payload: status};\nreturn msg; \n\n}\nif (x == \"False\")\n{\n    let status = \"S&P\";\n\nlet msg = {payload: status};\nreturn msg; \n   \n}\nelse\n{\n    let status = \"Unknown\";\n    \nlet msg = {payload: status};\nreturn msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1210,
    "y": 980,
    "wires": [
      [
        "633014cf1bf22985"
      ]
    ]
  },
  {
    "id": "e5c3a3c29d749481",
    "type": "switch",
    "z": "1acc5730a82cbfc7",
    "name": "Radio 1 or 2?",
    "property": "payload.RadioInfo.RadioNr[0]",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "1",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "2",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 880,
    "y": 940,
    "wires": [
      [
        "86950fd353197ba7",
        "c96642834818d2a9",
        "1f81f53556dacaa7",
        "0cd3112afd5d6d5e"
      ],
      [
        "bf0a5331052b7fab",
        "7dd0c082685c4b0d",
        "8292be93f0d40e09",
        "a1c2798293e18138"
      ]
    ]
  },
  {
    "id": "2d3aa2841dfaac62",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9189f146c1798eef",
    "order": 4,
    "width": 3,
    "height": 2,
    "name": "Radio 1 Status WAC",
    "label": "<font size = 5>Status",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1440,
    "y": 700,
    "wires": []
  },
  {
    "id": "1f81f53556dacaa7",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9189f146c1798eef",
    "order": 1,
    "width": 4,
    "height": 2,
    "name": "Radio 1 Operator WAC",
    "label": "<font size = 5>Operator",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload.RadioInfo.OpCall[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1440,
    "y": 780,
    "wires": []
  },
  {
    "id": "0fc4c3d34a12f7a1",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9189f146c1798eef",
    "order": 2,
    "width": 5,
    "height": 2,
    "name": "Radio 1 Freq WAC",
    "label": "<font size = 5>Freq",
    "format": "<font size = 40 font color={{msg.color}}>{{msg.payload}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1650,
    "y": 820,
    "wires": []
  },
  {
    "id": "0cd3112afd5d6d5e",
    "type": "ui_text",
    "z": "1acc5730a82cbfc7",
    "group": "9189f146c1798eef",
    "order": 3,
    "width": 3,
    "height": 2,
    "name": "Radio 1 Mode WAC",
    "label": "<font size = 5>Mode",
    "format": "<font size = 40 font color={{msg.color}}>{{payload.RadioInfo.Mode[0]}}</font>",
    "layout": "col-center",
    "className": "",
    "x": 1430,
    "y": 740,
    "wires": []
  },
  {
    "id": "254a70483d8805dc",
    "type": "link in",
    "z": "1acc5730a82cbfc7",
    "name": "",
    "links": [
      "3e86130caa4f1f80"
    ],
    "x": 715,
    "y": 820,
    "wires": [
      [
        "2dce50188ca09ef4"
      ]
    ]
  },
  {
    "id": "935c9a16abfdf6b5",
    "type": "link in",
    "z": "1acc5730a82cbfc7",
    "name": "",
    "links": [
      "15fa6dac50ec3359"
    ],
    "x": 715,
    "y": 940,
    "wires": [
      [
        "e5c3a3c29d749481"
      ]
    ]
  },
  {
    "id": "31bfa8df7d22233b",
    "type": "debug",
    "z": "1acc5730a82cbfc7",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 160,
    "wires": []
  },
  {
    "id": "0e5779d2ab52e631",
    "type": "ui_form",
    "z": "1acc5730a82cbfc7",
    "name": "Log Windown Radio 2",
    "label": "",
    "group": "31fa72ab1ae3828f",
    "order": 3,
    "width": "18",
    "height": "5",
    "options": [
      {
        "label": "Call",
        "value": "call",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Exchange",
        "value": "exchange",
        "type": "text",
        "required": true,
        "rows": null
      },
      {
        "label": "Comment",
        "value": "comment",
        "type": "text",
        "required": false,
        "rows": null
      }
    ],
    "formValue": {
      "call": "",
      "exchange": "",
      "comment": ""
    },
    "payload": "",
    "submit": "submit",
    "cancel": "clear",
    "topic": "topic",
    "topicType": "msg",
    "splitLayout": false,
    "className": "",
    "x": 280,
    "y": 160,
    "wires": [
      [
        "7c4c1ae36f7719f6"
      ]
    ]
  },
  {
    "id": "7c4c1ae36f7719f6",
    "type": "function",
    "z": "1acc5730a82cbfc7",
    "name": "To Upper Case",
    "func": "if (msg.payload.op != null)\n{\n    msg.payload.op = msg.payload.op.toUpperCase();\n}\n\nif (msg.payload.call != null)\n{\n    msg.payload.call = msg.payload.call.toUpperCase();\n}\n\nif (msg.payload.exchange != null)\n{\n    msg.payload.exchange = msg.payload.exchange.toUpperCase();\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 500,
    "y": 160,
    "wires": [
      [
        "31bfa8df7d22233b"
      ]
    ]
  }
]